* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    background-color: black; /* Set the background color to black */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body.contact-page {
    overflow-y: auto; /* Allow vertical scrolling on the contact page */
}

body.contact-page::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

header {
    background-color: black; /* Set the header background color to black */
    color: #bbb;
    padding: 10px 20px; /* Reduced padding */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fix the header at the top */
    top: 0; /* Position it at the top */
    z-index: 1001; /* Ensure the header is above other elements */
    height: 60px; /* Set a fixed height for the header */
}

header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px; /* Adjust the height of the underline */
    background-color: #bbb; /* Adjust the color of the underline */
    position: absolute;
    bottom: -2px; /* Position the underline just below the header */
    left: 0;
}

header a {
    color: #bbb;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: tomato;
}

header a.active {
    font-weight: bold; /* Optional: Make the active link bold */
    padding-bottom: 5px; /* Add some padding for better appearance */
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.036), 0 0 10px rgba(255, 99, 71, 0.05), 0 0 30px tomato; /* Add luminous effect */
}

header nav {
    display: flex;
    align-items: center;
}

header .lightbox-button-container {
    position: absolute;
    top: 3px; /* Adjust this value to move the button upward */
    right: 20px; /* Adjust as needed */
}

header button#lightboxButton {
    padding: 15px; /* Add padding for easier clicking */
    background-color: transparent; /* Remove the background */
    color: #bbb;
    border: none; /* Remove the border */
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; /* Remove the outline */
    font-size: 30px; /* Adjusted font size */
}

header button#lightboxButton i {
    font-size: 25px; /* Adjust the icon size to match the close button */
}

header button#lightboxButton.close {
    font-size: 25px; /* Ensure the font size is consistent */
    color: #bbb;
    font-weight: bold;
    cursor: pointer; /* Ensure the cursor changes to pointer */
    padding: 15px; /* Add padding for easier clicking */
    margin: 0; /* Remove margin */
}

header button#lightboxButton.close:hover,
header button#lightboxButton.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; /* Ensure the cursor changes to pointer on hover and focus */
}

header .nav-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow the nav-container to grow and take available space */
    justify-content: center; /* Center the nav-container */
    background-color: black; /* Set the nav-container background color to black */
}

header .nav-container::after {
    content: none;
}

header h1 {
    position: absolute;
    top: 5px;
    left: -10px; /* Adjusted to move the h1 element to the left */
    line-height: 50px; /* Adjusted line-height */
    background-image: url('quick tour images/cindy.png'); /* Ensure the path is correct */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 170px;
    height: 50px;
    text-indent: -9999px;
}

header ul {
    position: absolute;
    top: 10px; /* Lower the navigation bar a bit */
    left: 170px;
    line-height: 50px; /* Adjusted line-height */
    background-color: black; /* Set the menu background color to black */
}

header li {
    display: inline;
    margin-right: 1vw; /* Reduced margin to decrease the gap */
}

header li a {
    color: #bbb;
    text-decoration: none;
    padding: 8px 8px; /* Reduced padding to make it shorter */
    line-height: normal; /* Ensure the line height is normal */
}

header li a:hover {
    color: tomato; /* Change the text color on hover */
    background-color: transparent; /* Ensure no background color is shown */
}

header li a.active {
    font-weight: bold; /* Optional: Make the active link bold */
    padding-bottom: 5px; /* Add some padding for better appearance */
    box-shadow: 10px rgba(255, 99, 71, 0.782), 10px rgba(255, 99, 71, 0.817), 0 0 30px tomato; /* Add luminous effect */
    border-radius: 15px; /* Add border-radius for softer, rounder edges */
}

/* Responsive styles for screens under 900px */
@media (max-width: 900px) {
    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative; /* Ensure the nav-container is positioned relative */
        background-color: rgb(0, 0, 0); /* Set the nav-container background color to black */
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: #bbb;
        font-size: 24px;
        cursor: pointer;
        padding: 13px;
        position: absolute; /* Position the menu-toggle absolutely */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust position to be exactly in the center */
    }

    .nav-container nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px; /* Adjusted to move the menu bar up */
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.904); /* Set the menu background color to black */
        padding: 10px 0;
        text-align: center;
    }

    .nav-container nav ul li {
        margin: 20px 0; /* Increased margin to make it thicker */
    }

    .nav-container nav ul li a {
        color: #bbb;
        text-decoration: none;
        display: block;
        padding: 30px; /* Increased padding to make it thicker */
        font-size: 20px; /* Increased font size */
    }

    .nav-container nav ul li a:hover {
        color: tomato; /* Change the text color on hover */
        background-color: transparent;
    }

    header button#lightboxButton {
        top: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
    }

    header a h1 {
        position: absolute;
        top: 5px;
        left: 0px; /* Stick to the left edge */
        width: 170px;
        height: 50px;
        background-image: url('quick tour images/cindy.png'); /* Ensure the path is correct */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        text-indent: -9999px;
    }
}

/* Hide the menu toggle button and show the navigation menu for screens larger than 900px */
@media (min-width: 901px) {
    .menu-toggle {
        display: none;
    }

    .nav-container nav ul {
        display: flex !important;
    }
}

/* Other styles */
.instagram-link, .artstation-link, .twitter-link {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px; /* Add some space between the icons */
    color: white;
    font-size: 16px; /* Set a smaller font size */
    text-decoration: none;
}

.instagram-link:hover, .artstation-link:hover, .twitter-link:hover {
    color: tomato;
}

main {
    background-color: black; /* Set the main background color to black */
    padding: 10px;
    width: 100%; /* Ensure main element spans 100% width */
    min-height: 100vh; /* Ensure main element fills the viewport height */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form horizontally */
    flex-direction: column; /* Stack sections vertically */
    padding-top: 70px; /* Add padding to the top to avoid content being hidden behind the fixed header */
}

#contact-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

#contact {
    width: 100%; /* Ensure the contact section spans 100% width */
    max-width: 450px; /* Increase the maximum width of the form */
    margin: 0 auto; /* Center the form within the contact section */
    margin-top: -120px; /* Move the contact form upwards */
}

#contact h2 {
    color: orange; /* Change the color to orange */
    margin-bottom: 20px; /* Add some space below the heading */
    text-align: left; /* Align the heading to the left */
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: none;
    font-family: Arial, sans-serif; /* Set the font family for the labels */
}

label[for="name"],
label[for="email"],
label[for="subject"],
label[for="message"] {
    color: white; /* Change the color of the labels to white */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Ensure the input fields span 100% width */
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-family: Arial, sans-serif; /* Set the font family for the input fields and textarea */
    font-size: 16px; /* Increase the font size for the input fields and textarea */
}

textarea {
    height: 150px; /* Increase the height of the message box */
}

input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-start; /* Align the submit button to the left */
}

input[type="submit"]:hover {
    background-color: #e04e4e;
}

#em {
    margin-top: -25px; /* Adjusted to move the em box upwards */
    text-align: center; /* Center the text in the em section */
    color: white; /* Set the text color to white */
}

#side-text {
    margin-left: 20px; /* Add some space between the form and the text */
    color: white; /* Set the color of the text */
    font-family: Arial, sans-serif; /* Set the font family for the text */
    font-size: 16px; /* Set the font size for the text */
}

#em .instagram-link, #em .artstation-link, #em .twitter-link {
    color: orange; /* Change the color to orange */
    text-decoration: underline; /* Add underline to the links */
    font-size: 18px; /* Set a smaller font size */
}

#em .instagram-link:hover, #em .artstation-link:hover, #em .twitter-link:hover {
    color: tomato; /* Change color on hover */
}

.images {
    background-color: rgb(116, 29, 81);
    height: 85vh;
}

/* Slider styles */
.slider {
    position: relative;
    width: 100%;
    height: 90vh; /* Set the height of the slider to 80% of the viewport height */
    margin: auto;
    overflow: hidden;
    margin-top: -1px; /* Move the slider upwards */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Ensure the slides take up the full height of the slider */
}

.slides img {
    width: 100%;
    height: 100%; /* Ensure the images take up the full height of the slides */
    object-fit: contain; /* Ensure the images fit within the box without cropping */
    border: none;
}

.slider-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.slider-overlay.left {
    left: 0;
}

.slider-overlay.right {
    right: 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px; /* Make the arrows thinner */
    margin-top: -22px;
    color: rgba(228, 228, 228, 0.609);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
    background: none; /* Remove background */
    border: none; /* Remove border */
}

.prev {
    left: -40px; /* Position the left arrow outside the slider */
}

.next {
    right: -40px; /* Position the right arrow outside the slider */
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Add a subtle background on hover */
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 60px; /* Adjust the top position to be just under the header */
    width: 100%;
    height: calc(100% - 50px); /* Adjust the height to account for the header */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 100%; /* Increase the width to reduce empty space */
    max-width: 1400px; /* Increase the max-width to allow more space */
}

lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer; /* Ensure the cursor changes to pointer */
    z-index: 1001; /* Ensure the close button is above other elements */
}

.lightbox .close:hover,
.lightbox .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; /* Ensure the cursor changes to pointer on hover and focus */
}

/* Custom scrollbar styles for the lightbox */
.lightbox::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.lightbox::-webkit-scrollbar-track {
    background: #000000; /* Background of the scrollbar track */
}

.lightbox::-webkit-scrollbar-thumb {
    background-color: #666666; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
    border: 3px solid #000000; /* Border around the scrollbar thumb */
}

.lightbox::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Color of the scrollbar thumb on hover */
}

/* Masonry grid styles */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1400px; /* Increase the max-width to allow more space */
    margin: auto;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image covers the entire area */
    cursor: pointer; /* Make images clickable */
}

#postSubmitMessage {
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(auto-fill);
    }
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fill);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Ensure at least 2 columns */
    }
}

.contact-page #lightboxButton {
    display: none; /* Hide the lightbox button on the contact page */
}

form#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all form elements */
}

form#contactForm .form-group {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    margin-bottom: 15px;
}

form#contactForm .submit-button {
    width: auto;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-self: center; /* Center the submit button */
}

form#contactForm .submit-button:hover {
    background-color: #e04e4e;
}

